<html>
<head>
    <title>模拟告白</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>情感在线分析</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/creative.min.css" rel="stylesheet">
    <link href="/static/css/chat.css" rel="stylesheet">

    <style>
        body{
            background-image: url("/static/img/back.jpg");
        }
    </style>
</head>
<body >

<!-- Navigation -->
  <nav  class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style=" background-color: #f8f9fa!important;">
    <div class="container">
        <a style="color: rgba(237, 69, 69, 0.8)!important;" class="navbar-brand js-scroll-trigger" href="#">情感分析平台</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a  style="color: rgba(237, 69, 69, 0.8)!important;" class="nav-link js-scroll-trigger" href="#">个人资料</a>
                </li>
                <li class="nav-item">
                    <a style="color: rgba(237, 69, 69, 0.8)!important;" class="nav-link js-scroll-trigger" href="#">历史记录</a>
                </li>
                <li class="nav-item">
                    <a style="color: rgba(237, 69, 69, 0.8)!important;" class="nav-link js-scroll-trigger" href="#">模拟告白</a>
                </li>
                <li class="nav-item">
                    <button data-toggle="modal" data-target="#register" class="nav-link js-scroll-trigger" href="#portfolio">name</button>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  <!-- chat -->
   <div class="container">
       <div class="card text-center" style="margin-top:25%">
           <div class="card-header">
               聊天框
           </div>
           <div class="card-body">
               <div class="card" style="background-color:#bee5eb;width: 40%;">
                   <div class="card-body">
                       123
                   </div>
               </div>
               <div  style="background-color:pink;width: 40%;align: right!important;">
                   <div class="card-body pull-right">
                       123
                   </div>
               </div>

           </div>
           <div class="card-footer">
             <div class="buju" style="display:flex;flex-wrap: nowrap">
               <input type="text" class="form-control" id="inputText"  placeholder="">
               <button class="btn btn-primary" style="background-color: #b8daff">发送</button>
               <button data-toggle="modal" data-target="#result" class="btn btn-primary">结果分析</button>
             </div>
           </div>
       </div>
   </div>

   <!--result-->
   <div id="result" class="modal fade">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-body">
                   <button class="close" data-dismiss="modal">
                       <span>&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <p class="text-center">结果</p>
               </div>
               </div>
           </div>
       </div>
   </div>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/creative.min.js"></script>

</body>
</html>
